<div>
  <header class="header">
    <div id="homepage_navbar" class="animated fadeIn">
      <ul id="homepage_left_links" class="animated fadeInLeft">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Services', services_path %></li>
      </ul>
      <ul id="homepage_right_links" class="animated fadeInRight">
        <li><%= link_to 'Portfolio', portfolio_path %></li>
        <li><%= link_to 'Contact', new_contact_path %></li>
      </ul>
    </div>
    <div>
      <%= image_tag("scooter-logo-homepage.png", class: "animated fadeIn logo-homepage") %>
    </div>
  </header>
</div>

<div class="text_wrapper">
  <p class="homepage_text animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
</div>
